/*** VARIABLES SCSS ***/
$primary: #58837A; 
$secondary: #C2393C;
$body-bg: #F5F5F5;
$info: #F5F5F5;
$light: #BCCAD4;
$dark: #252525;

/* POLICE DES TITRES */
$headings-font-family: "Fjalla One";
/* POLICE DU TEXTE */
$font-family-base: "Inter";

/*** IMPORTATION BOOTSTRAP + POLICES***/
@import "partials/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*** STYLES PERSONNALISÉS ***/
@media (max-width: 992px) {
    .flexy{
        flex: 2;
    }
}